.cards {
    margin: 0;
    max-width: 100%;
    padding-top: 47px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    column-gap: 17px;
    row-gap: 20px;
}

@media screen and (max-width: 880px) {
    .cards {
        max-width: calc(100% - 19px * 2);
        grid-template-columns: 1fr;
        grid-template-rows: repeat(6, 1fr);
        row-gap: 20px;
        padding: 36px 19px 0 19px;
    }
}