.page {
    max-width: 880px;
    margin: 0 auto;
    /*min-height: auto;*/
    font-family: 'Inter', Arial, sans-serif;
    background: #000000;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-rendering: optimizeLegibility;
}
