.info__editButton {
    margin: 0;
    border: 1px solid white;
    grid-area: icon;
    align-self: end;
}

@media screen and (max-width: 880px) {
    .info__editButton {
        object-fit: cover;
        max-width: 100%;
        font-size: 14px;
        line-height: 17px;

    }
}