.info__editButton {
    margin: 0;
    grid-area: icon;
    align-self: end;
    background-image: url("../../../images/Rectangle-min.jpg");
    width: 24px;
    height: 24px;
}



@media screen and (max-width: 880px) {
    .info__editButton {
        width: 18px;
        height: 18px;
        background-size: cover;

    }
}

.info__editButton:hover {
    opacity: .6;
    transition: .3s;
}