.edit-button__vector {
    width: 10px;
    height: 10px;
    /*object-fit: cover;*/
}


@media screen and (max-width: 880px) {
    .edit-button__vector {
        width: 7.5px;
        height: 7.5px;
        padding-bottom: 2.9px;

    }
}