.profile {
    margin: 0;
    max-width: 100%;
    display: grid;
    grid-template-columns: 120px 1fr 150px;
    grid-template-rows: 120px;
    grid-template-areas: "avatar info button";
    align-items: center;
    justify-items: start;
    padding-top: 40px;
}

@media screen and (max-width: 880px) {
    .profile {
        max-width: calc(100% - 19px * 2);
        padding-top: 38px;
        grid-template-columns: 1fr;
        grid-template-rows: 127.5px 22.25px 54px 36px 48px;
        grid-template-areas: "avatar"
                               "."
                             "info"
                              "."
                             "button";
        justify-items: center;
        padding-left: 19px;
        padding-right: 19px;
    }
}