.bottom__like_active {
    grid-area: like;
    background-image: url("../../../../images/Union-min.svg");
    width: 22px;
    height: 19px;
    background-size: cover;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    border: 0;
    border-radius: 0;
    background-color: #FFFFFF;
}
