.addButton {
    /*margin: 0;*/
    grid-area: button;
    /*object-fit: cover;*/
    /*max-width: 100%;*/
    background-image: url("../../images/Add Button-min.jpg");
    width: 150px;
    height: 50px;
    background-size: cover;



}


@media screen and (max-width: 880px) {
    .addButton {
        background-image: url("../../images/Rectangle (2)-min.jpg");
        background-size: cover;
        width: 282px;
        height: 50px;
       justify-self: center;

    }
}