.profile__subtitle {
    margin: 0;
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 22px;
    color: #FFF;
    grid-area: subtitle;
    align-self: center;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}

@media screen and (max-width: 880px) {
    .profile__subtitle {
        font-size: 14px;
        line-height: 17px;
        justify-self: stretch;
        padding-left: 15px;
        align-self: start;
        text-overflow: ellipsis;
        white-space: nowrap;
        overflow: hidden;

    }
}