.popup__form {
    margin: 0;
    width: 358px;
    max-width: 100%;
    padding-bottom: 30px;
    border: 0;
}


@media screen and (max-width: 880px) {
    .popup__form {
        display: flex;
        flex-direction: column;
        padding-bottom: 0;
        width: 238px;
        height: auto;
        padding-left: 22px;
        /*gap: 30px;*/

    }
}
