.elements {
    margin: 0;
    max-width: 100%;
    padding-top: 47px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    column-gap: 17px;
    row-gap: 20px;
}