.popup__save-button {
    background-color: #000000;
    color: #FFFFFF;
    width: 358px;
    height: 50px;
    margin-top: 46px;
    border: none;
    font-family: 'Inter', sans-serif;
    font-weight: normal;
    font-size: 18px;
    line-height: 22px;
    text-align: center;
}

.popup__save-button:hover {
    opacity: .8;
    transition: .3s;
    cursor: pointer;
}

@media screen and (max-width: 880px) {
    .popup__save-button {
        display: block;
        color: #FFFFFF;
        width: 238px;
        height: 46px;
        background-size: cover;
        padding-top: 12px;
        padding-bottom: 30px;
        font-family: 'Inter', sans-serif;
        font-weight: normal;
        font-size: 14px;
        line-height: 17px;
        text-align: center;
        margin-top: 44px;

    }
}

