.popup__close {
    margin: 0;
    background-image: url("../../../images/Close Icon-min.jpg");
    width: 32px;
    height: 32px;
    position: absolute;
    right: -38px;
    top: -35px;
}

.popup__close:hover {
    opacity: .6;
    transition: .3s;
}

@media screen and (max-width: 880px) {
    .popup__close {
        background-image: url("../../../images/Close Icon (1)-min.jpg");
        width: 20px;
        height: 20px;
        top: -35px;
        right: 0;
    }
}
