.profile__info {
    max-width: 100%;
    grid-area: info;
    display: grid;
    grid-template-columns: 294px 24px;
    grid-template-rows: 51px 24%;
    grid-template-areas:
                         "title icon"
                         "subtitle .";
    column-gap: 18px;
    row-gap: 2px;
    padding-left: 30px;
}

@media screen and (max-width: 880px) {
    .profile__info {
        padding-left: 0;
        grid-template-columns: 36px 189px 18px 9px;
        grid-template-rows: 27px 16px;

        grid-template-areas:
                         ". title icon ."
                         ". subtitle . .";
        column-gap: 10px;
        row-gap: 12px;
        align-items: center;
        justify-items: start;
        text-overflow: ellipsis;
        white-space: nowrap;
        overflow: hidden;
    }
}